.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.newGamer{
  border: 1px solid pink;

}
.gamer{
  border: 1px solid pink;
margin: 20px;
}
.allGamers{
  display: flex;
}
.gamerProps{
  font-family: cursive;
  font-size: 30px;
}
.actionsBtns{
  margin: 5px;
  background-color: yellowgreen;
  font-family: cursive;
}
#getTo100{
  margin-top: -100px;
  display: block;
  font-family: cursive;
}
#start #new{
  background-color: greenyellow;
  font-family: cursive;
  margin-left: 20px;
  margin-right: 20px;
}
.leaveBtn{
  background-color: greenyellow;
  font-family: cursive;

}



